

#checkCustomerPanel{
    transition: opacity 0.25s ease;
    display:none;
    width: 30%;
    margin: auto;
    padding: 4%;
    border: 5px solid;
    border-radius: 10px;
    font-weight: bolder;
    border-color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newCustomerPanel{
    transition: opacity 0.25s;
    display: none;
    width: 50%;
    margin: auto;
    padding: 4%;
    border: 5px solid;
    border-radius: 10px;
    font-weight: bolder;
    border-color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 700px;
    font-size: 16px;
}

.search-results {
    position: absolute;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.search-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-item:hover {
    background-color: #f0f0f0;
}

.search-item.selected {
    background-color: #007bff;
    color: #fff;
}

#logout-button {
    background: none;
    border: none;
}

#logout-button:hover {
    background: transparent;
    fill: black;
    border: none;
    border-bottom: solid brown;
    transition-duration: 100ms;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    size: 2px;
    background-color: darkcyan;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgreen;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#customerDetails{
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: gray ;
    
    margin: auto;
    width: auto;
    height: fit-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}